.FindRabbit {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

.FindRabbit img {
  width: 100px;
  height: 100px;
}

.rabbitBtn {
  height: 2.5rem;
  background-color: red;
  color: white;
  font-weight: bold;
  margin: 5px;
}
